<%- include('../partials/header') %>

<table class="table-flights">
    <thead>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departs</th>
    </thead>

    <% flights.forEach(function(f) { %>
        <tr <%= f.departs < new Date() ? 'class=past' : ''%>>
            <td><%= f.airline %></td>
            <td><%= f.airport %></td>
            <td><%= f.flightNo %></td>
            <td><%= f.departs.toLocaleString("en-US", {
                year: "numeric",
                month: "2-digit",
                day: "2-digit",
                hour: "2-digit",
                minute: "2-digit"
            }) %></td>
        </tr>
    <% }) %>
</table>
<%- include('../partials/footer') %>