<%- include('../partials/header') %>

<section id="show-page">
    <div>Airline:</div>
    <div><%= flight.airline %></div>
    <div>Airport:</div>
    <div><%= flight.airport %></div>
    <div>Flight Number:</div>
    <div><%= flight.flightNo %></div>
    <div>Departs:</div>
    <div>
        <%= flight.departs.toLocaleString("en-US", {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit"
        }) %>
    </div>
</section>

<section>
    <h2>Destinations:</h2>
    <form  id="destination-form" action="/flights/<%= flight._id %>/destinations" method="post">
        <label>
            Airport:
            <select name="airport">
                <option value="AUS">AUS</option>
                <option value="DTW">DTW</option>
                <option value="DEN">DEN</option>
                <option value="LAX">LAX</option>
                <option value="ORD">ORD</option>
                <option value="SAN">SAN</option>
            </select>
        </label><br>
        <label>
            Arrival Date/Time:
            <input type="datetime-local" name="arrival">
        </label><br>
        <button type="submit">Add Destination</button>
    
    </form>
</section>

<%- include('../partials/footer') %>